* { margin:0; padding:0; border:0; box-sizing:border-box;}
body { background: linear-gradient(#93BEDF, #77F8F1);  }

.container { max-width:1200px;display:flex; align-items:center; margin:0 auto; height:100vh;  }

.jogo { position:relative; width:100%; height:550px; background:linear-gradient(#77F8F1, #93BEDF); display:block; margin:0 auto; padding:40px;  overflow:hidden; border-radius:16px; }

.iniciar { height:550px; display:flex; align-items:center; max-height:100%; }
button.start {  width:fit-content; padding:5px 20px; text-transform:uppercase; height:40px; border-radius:15px; background:#333; color:#FFF; margin:20px auto; font-size:16px; animation:game-over 1.2s ease-in-out; position:relative; font-family: 'Bungee Spice', cursive; display:block; }
button.start:hover { color:#333; background:#FFF; cursor:pointer }

.sol {  width:auto; margin:0 auto;  animation:sol 1s infinite ease-in-out alternate; z-index:1; display:none; }
.nuvem { position:absolute; top:20px; display:none;  }
.esquerda { animation:nuvem-esquerda 60s ease-out infinite; }
.direita { animation:nuvem-direita 85s ease-out infinite; width:250px; }
.obstaculo { width:110px; position:absolute; bottom:0; display:none;  animation:animacao-obstaculo 1.3s infinite linear;}
.personagem { width:100px; bottom:0; position:absolute; left:40px; }
.pulo-personagem { animation:pulo-personagem 650ms ease-out; }

.painel { display:none; flex-direction:column; justify-content:center; align-items:center; margin-top:70px; font-family: 'Bungee Spice', cursive;}
.placar h1 { font-size:20px; }
.placar span { font-size:28px; }
.game-over { display:none;  }
.game-over h2 { font-size:40px; animation:game-over 0.8s ease-out; position:relative;}
.fim { animation:fim 1.2s ease-in-out forwards; } 