* { margin:0; padding:0; border:0; box-sizing:border-box; font-family: 'Concert One', cursive; }

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Concert+One&family=Raleway:wght@100;600&display=swap');

.container { max-width:800px;display:flex; align-items:center; margin:0 auto; height:100vh;  }

.jogo { position:relative; width:100%; height:550px; background:linear-gradient(#77F8F1, #93BEDF); display:block; margin:0 auto; padding:40px;  overflow:hidden; }
.obstaculo { width:80px; position:absolute; bottom:0; animation:animacao-obstaculo 1s infinite linear; }
.personagem { width:100px; bottom:0; position:absolute; left:40px; }
.pulo-personagem { animation:pulo-personagem 650ms ease-out; }
.game-over { display:none; }
.game-over h2 { font-size:45px; }

button.reset { width:180px; text-transform:uppercase; height:40px; border-radius:15px; background:#333; color:#FFF; margin:40px 0; font-size:20px; }
button.reset:hover { color:#333; background:#FFF; cursor:pointer }

@keyframes animacao-obstaculo {
    from{
        right:-150px;
    }
    to {
        right:100%;
    }
}  

@keyframes pulo-personagem {
    0% {
        bottom: 0;
    }

    50% {
        bottom:200px;
    }

    100% {
        bottom:0;
    }
}